{{- if .Values.integration.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
  name: {{ .Values.integration.serviceAccountName }}
rules:
  - apiGroups:
      - ''
    resources:
      - pods
      - namespaces
      - serviceaccounts
      - configmaps
      - nodes
      - services
      - secrets
      - events
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - extensions
    resources: ['*']
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
      - replicasets
      - statefulsets
      - daemonsets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - authorization.k8s.io
    resources:
      - selfsubjectaccessreviews
      - subjectaccessreviews
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - batch
    resources:
      - jobs
      - cronjobs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - networking.k8s.io
    resources:
      - networkpolicies
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - clusterroles
      - clusterrolebindings
      - roles
      - rolebindings
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - integrations.jupiterone.io
    resources:
      - integrationinstancejobs
      - integrationrunners
      - integrationinstancejobs/status
      - integrationrunners/status
      - integrationinstancejobs/finalizers
      - integrationrunners/finalizers
    verbs:
      - get
      - list
      - watch
{{- end }}