apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: integrationrunners.integrations.jupiterone.io
spec:
  group: integrations.jupiterone.io
  names:
    kind: IntegrationRunner
    listKind: IntegrationRunnerList
    plural: integrationrunners
    singular: integrationrunner
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: State of the runner
      jsonPath: .status.state
      name: State
      type: string
    - description: Detailed state message
      jsonPath: .status.stateDetail
      name: Detail
      type: string
    - description: Registration status of the runner
      jsonPath: .status.registration
      name: Registration
      type: string
    - description: Time since creation
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        description: IntegrationRunner is the Schema for the integrationrunners API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: IntegrationRunnerSpec defines the desired state of IntegrationRunner.
            properties:
              accountId:
                description: AccountID is the JupiterOne account ID that this integration
                  runner belongs to.
                type: string
              collectorId:
                description: CollectorID is the ID of the collector that this integration
                  runner is associated with.
                type: string
              collectorPoolId:
                description: CollectorPoolID is the ID of the pool that the collector
                  belongs to.
                type: string
              jupiterOneEnvironment:
                description: |-
                  JupiterOneEnvironment is the environment of the JupiterOne API that the integration runner will connect to.
                  This defaults to `us` if not specified.
                type: string
              secretAPITokenName:
                description: SecretAPITokenName is the name of the Kubernetes secret
                  that contains the user's API token for API access.
                type: string
              secretName:
                description: |-
                  SecretName is the name of the Kubernetes secret that contains the credentials for the integration runner.
                  This includes the registration token and the currently rotated token. The values in this secret change over time.
                type: string
              syncIntervalSeconds:
                description: SyncIntervalSeconds is the interval in seconds at which
                  the integration runner should sync data.
                type: integer
            type: object
          status:
            description: IntegrationRunnerStatus defines the observed state of IntegrationRunner.
            properties:
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              lastHeartbeatTime:
                format: date-time
                type: string
              lastSyncTime:
                format: date-time
                type: string
              lastTokenRefreshTime:
                format: date-time
                type: string
              registration:
                type: string
              state:
                type: string
              stateDetail:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
