apiVersion: integrations.jupiterone.io/v1
kind: IntegrationInstance
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  collectorName: {{ .Values.collectorName }}
  integrationDefinitionName: kubernetes-managed
  {{- if .Values.pollingInterval }}
  pollingInterval: {{ .Values.pollingInterval | quote }}
  {{- end }}
  {{- if .Values.pollingIntervalCron }}
  pollingIntervalCron:
    hour: {{ .Values.pollingIntervalCron.hour }}
    dayOfWeek: {{ .Values.pollingIntervalCron.dayOfWeek }}
  {{- end }}
  {{- if .Values.resourceGroupID }}
  resourceGroupID: {{ .Values.resourceGroupID | quote }}
  {{- end }}
  config:
    loadKubernetesConfigFromDefault: {{ .Values.loadKubernetesConfigFromDefault | quote }}
    {{- if .Values.includeNamespaces }}
    includeNamespaces: {{ .Values.includeNamespaces | toJson | quote }}
    {{- end }}
    {{- if .Values.excludeNamespaces }}
    excludeNamespaces: {{ .Values.excludeNamespaces | toJson | quote }}
    {{- end }}
    {{- if .Values.crdMappingConfig }}
    crdMappingConfig: {{ .Values.crdMappingConfig | quote }}
    {{- end }}

