{{- if .Values.rbac.enable }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
  name: jupiterone-integration-operator-manager-role
  namespace: {{ .Release.Namespace }}
rules:
- apiGroups:
  - integrations.jupiterone.io
  resources:
  - integrationinstancejobs
  - integrationrunners
  - integrationinstances
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - integrations.jupiterone.io
  resources:
  - integrationinstancejobs/finalizers
  - integrationrunners/finalizers
  - integrationinstances/finalizers
  verbs:
  - update
- apiGroups:
  - integrations.jupiterone.io
  resources:
  - integrationinstancejobs/status
  - integrationrunners/status
  - integrationinstances/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ''
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - 'batch'
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ''
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ''
  resources:
  - pods/log
  verbs:
  - get
{{- end -}}
